src/main/mule/sampleprojectforgit.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="064ec4db-e7cf-4849-9f71-99f53fc0ad04" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sampleprojectforgitFlow" doc:id="a8b788d5-8e95-4732-97bc-6c2950b586ee" >
		<http:listener doc:name="Listener" doc:id="3708da80-3681-4270-a81e-53b0636ba528" config-ref="HTTP_Listener_config" path="/practice1"/>
		<logger level="INFO" doc:name="Logger" doc:id="e65f0041-108f-498f-b66d-9cb6ce3d3e63" message="flow started..."/>
		<ee:transform doc:name="Transform Message" doc:id="f6adf8d4-8f7e-459c-ad9a-86b54a86b99c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Hi, how are you!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1d20b55d-19e7-4f55-8476-23f158a7101c" message="#[payload]"/>
	</flow>
</mule>
